# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

{
	auto_https disable_redirects
}

#:80 {
#       # Set this path to your site's directory.
#       #root * /usr/share/caddy
#       root * /var/www/deadbeef
#
#       # Enable the static file server.
#       file_server
#
#       # Another common task is to set up a reverse proxy:
#       # reverse_proxy localhost:8080
#
#       # Or serve a PHP site through php-fpm:
#       # php_fastcgi localhost:9000
#}

raspberrypi.tailbcafe5.ts.net:80 {
	redir https://{host}{uri} permanent
}

(site) {
	root * /srv/site
	file_server

	handle_path /power/* {
		reverse_proxy power-control:5000
	}
}

:80 {
	import site
}

localhost, raspberrypi {
	tls internal

	import site
}

raspberrypi.tailbcafe5.ts.net {
	import site
}

localhost:8123, raspberrypi:8123 {
	tls internal

	reverse_proxy vaultwarden:80
}

raspberrypi.tailbcafe5.ts.net:8123 {
	reverse_proxy vaultwarden:80
}

# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile
